* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    text-decoration: none !important;
    list-style: none;
    box-sizing: border-box;
}

$colorPrincipal: #F25C54; 
$colorSecundario: #fabdb9;
$colorTexto: #282828;
$tipografiaTitulos: #4e4e4e 2.5rem;

@import "header.scss";
@import "footer.scss";
@import "index.scss";
@import "productos.scss";
@import "maps.scss";
@import "mixin.scss";
@import "extend.scss";
@import "card.scss";